.ant-input {
  border-radius: 10px !important;
}

.ant-table-thead > tr > th {
  background: #0c2ccb !important;
  color: white !important;
}
/* 
.ant-btn-primary {
  background-color: #0ccb0f !important;
} */
