.ant-input {
    border-radius: 10px !important;
}

.ant-table-thead > tr > th {
background: #cb0c9f  !important;
color: white !important;
}


.ant-btn-primary {
    background-color: #cb0c9f !important;
}